{% if flag == 1 %}
    <select id="provinciasSel" >
        {#<option value="0" name="0">Seleccione---</option>#}
        {% for elem in lista %}
            <option value="{{ elem.id }}" name="{{ elem.id }}">{{ elem }}</option>
        {% endfor %}
    </select>
{% elseif  flag == 2 %}
    <select id="ciudadesSel" >
        {% for elem in lista %}
            <option value="{{ elem.id }}" name="{{ elem.id }}">{{ elem }}</option>
        {% endfor %}
    </select>
{% elseif  flag == 3 %}
<select id="parroquiasSel" >
    {% for elem in lista %}
        <option value="{{ elem.id }}" name="{{ elem.id }}">{{ elem }}</option>
    {% endfor %}
</select>
{% endif %}