<div class="tabla_center_align" >
    <div class="oe_form_sheetbg">
        <div class="oe_form_sheet oe_form_sheet_width" style="max-width:80% !important;">

                    {% set cantPagada=0 %}
                    {% set intereses=0 %}
                    {% for pagorealizado in pagosrealizados %}
                        {% set cantPagada = cantPagada + (pagorealizado.cuota * pagorealizado.tipo) %}
                        {% set intereses = intereses + (pagorealizado.interes) %}
                    {% endfor %}
                    <div class="oe_view_manager_wrapper">
                        <div>
                            <label style="font-size: 18px !important;">
                                <label class="oe_form_label oe_align_right" style="font-size: 18px !important; font-weight: bold !important;"> Datos
                                    del Ahorro de {{ entity.persona is null ? "" : (entity.persona.nombre is null ? " " : entity.persona.nombre) }}&nbsp;{{ entity.persona is null ? "" : (entity.persona.primerApellido is null ? " " : entity.persona.primerApellido) }}&nbsp;{{ entity.persona is null ? "" : (entity.persona.segundoApellido is null ? " " : entity.persona.segundoApellido)}}&nbsp;</label>
                            </label>
                            <br>
                            <label class="oe_form_label oe_align_right" style="font-size: 18px !important; font-weight: bold !important;">{{ entity.tipoAhorro}}&nbsp;</label>

                            <table >
                                <thead>
                                <th width="25%" class="tabla_right_align"></th>
                                <th width="25%" class="tabla_left_align"></th>
                                <th width="25%" class="tabla_right_align"></th>
                                <th width="25%" class="tabla_left_align"></th>


                                </thead>
                                <tbody>
                                <tr class="oe_header_row oe_header_row_top">
                                    <td class="tabla_right_align" style="padding-right: 20px">
                                        <h3>
                                            Valor Autorizado:
                                        </h3>
                                    </td>
                                    <td class="tabla_left_align">
                                        <h3>
                                            &nbsp;$&nbsp;{{ (entity.valorAhorrar )| number_format(2, '.' , ',' ) }}
                                        </h3>
                                    </td>
                                    <td class="tabla_right_align" style="padding-right: 20px">
                                        <h3>
                                            Valor en Caja:
                                        </h3>
                                    </td>
                                    <td class="tabla_left_align">
                                        <h3>
                                            &nbsp;$&nbsp;{{ ((cantPagada) )| number_format(2, '.' , ',' )}}
                                            {#$ {{ (intereses + cantPagada) |  round(2, 'ceil'))| number_format(2, '.' , ',' ) }}#}
                                        </h3>
                                    </td>
                                </tr>
                                <tr class="oe_header_row oe_header_row_top">

                                    <td class="tabla_right_align" style="padding-right: 20px">
                                        <h3>
                                            Valor sin Interés:
                                        </h3>
                                    </td>
                                    <td class="tabla_left_align">
                                        <h3>
                                            &nbsp;$&nbsp;{{ (cantPagada)| number_format(2, '.' , ',' ) }}
                                        </h3>
                                    </td>
                                    <td class="tabla_right_align" style="padding-right: 20px">
                                        <h3>
                                            Interés:
                                        </h3>
                                    </td>
                                    <td class="tabla_left_align">
                                        <h3>
                                            &nbsp;$&nbsp;{{ (intereses)| number_format(2, '.' , ',' ) }}
                                        </h3>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <hr style="width: 96%;padding: 1px;border-color: #7C7BAD">
                            <h2>Tabla de movimientos realizados</h2>
                            <table class="table">
                                <thead>
                                <th width="150px" class="tabla_center_align">Fecha</th>
                                <th width="150px" class="tabla_center_align">Operación</th>
                                <th width="250px" class="tabla_center_align">Valor cuota</th>
                                <th width="250px" class="tabla_center_align">Interés</th>
                                <th width="250px" class="tabla_center_align">Valor Acumulado</th>

                                </thead>
                                <tbody>
                                {% for pagorealizado in pagosrealizados %}
                                    <tr>
                                        <td width=""
                                            class="tabla_center_align"> {{ pagorealizado.fechaDeEntrada | date('d/m/Y') }}</td>
                                        <td width=""
                                            class="tabla_left_align">&nbsp;&nbsp; {{ pagorealizado.tipo == 1 ? "Depósito" : "Retiro" }}</td>
                                        <td width="" class="tabla_right_align">
                                            &nbsp;$&nbsp;{{ (pagorealizado.cuota )| number_format(2, '.' , ',' ) }}&nbsp;&nbsp;</td>
                                        <td width="" class="tabla_right_align">&nbsp;$&nbsp;{{ (pagorealizado.interes)| number_format(2, '.' , ',' ) }} &nbsp;&nbsp;</td>
                                        <td width="" class="tabla_right_align">&nbsp;$&nbsp;{{ (pagorealizado.cuotaAcumulada)| number_format(2, '.' , ',' )}} &nbsp;&nbsp;</td>
                                        {#{$ {{ (pagorealizado.interes   |  round(2, 'ceil'))| number_format(2, '.' , ',' ) }}&nbsp;&nbsp;</td>}#}
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td width=""
                                        class="tabla_center_align"> </td>
                                    <td width=""
                                        class="tabla_left_align" style="font-weight: bold !important; font-size: 14px !important;">&nbsp;&nbsp; Totales</td>
                                    <td width="" class="tabla_right_align" style="font-weight: bold !important; font-size: 14px !important;">
                                        &nbsp;$&nbsp;{{ (cantPagada)| number_format(2, '.' , ',' ) }}&nbsp;&nbsp;</td>
                                    <td width="" class="tabla_right_align" style="font-weight: bold !important; font-size: 14px !important;">
                                        &nbsp;$&nbsp;{{ (intereses)| number_format(2, '.' , ',' ) }}&nbsp;&nbsp;</td>
                                    <td width="" class="tabla_right_align">&nbsp;&nbsp;</td>
                                    {#$ {{ (intereses   |  round(2, 'ceil'))| number_format(2, '.' , ',' ) }}&nbsp;&nbsp;</td>#}
                                </tr>
                                </tbody>
                            </table>


                </div>
            </div>

        </div>
    </div>
</div>

