{% extends forma %}
{% block title %}Cartera Créditos{% endblock %}
{% block encabezado %}Cartera Créditos{% endblock %}

{% block contenedor %}
    <script>
        $(document).ready(function() {
            $('#example').dataTable({
                "oLanguage": {
                    'sProcessing': '',
                    'sLengthMenu': 'Mostrando _MENU_ registros',
                    'sZeroRecords': 'La tabla está vacía',
                    'sSearch': '',
                    'sInfo': '_START_ hasta _END_ de _TOTAL_ registros',
                    'sInfoEmpty': '0 hasta 0 de 0 registros',
                    'sInfoFiltered': '(Filtrado de _MAX_ total)',
                    "oPaginate": {
                        "sFirst":    "Primera",
                        "sPrevious": "Anterior",
                        "sNext":     "Siguiente",
                        "sLast":     "Última"
                    }

                },
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [1] },{"sWidth": "10%","aTargets": [0]},{ "bSortable": false, "aTargets": [ 0 ] }
                ],
                "aaSorting": [[2, 'asc']]

            });
            $("#example_length").hide();
            $("#example_filter").prop("style",'margin-top:-18%;width:30%;margin-left:23%;');

            $("#example_filter input").hide();

            $("#example_info").prop("style",'padding-left: 8px');

            $("#example_paginate").prop("style",'padding-right: 8px');

            $('#SeleccionarTodos').click(function(){
                $('.EliminarChechbox').prop('checked',true);

            });

            $('#DesmarcarTodos').click(function(){
                $('.EliminarChechbox').prop('checked',false);
            });

            var oTable = $('#example').dataTable();

            if(oTable.fnGetNodes().length==0){
                $('#SeleccionarTodos').css('display','none');
                $('#DesmarcarTodos').css('display','none');
                $('#EliminarUsuarios').css('display','none');

            }
            $('[data-toggle="tooltip"]').tooltip()

            $(document).on("click","#export",function(){
                var valor =  $("#example_filter input").val();

                $('#export').attr("href","{{ path('exportarCreditos') }}");

            });



            $(document).on("click","#example tbody tr a.detalle",function(){

                var nTr = $(this).parents('tr')[0];
                if ( oTable.fnIsOpen(nTr) )
                {
                    /* This row is already open - close it */
                    //this.src = "{#{asset('bundles/CP/images/details_open.png')}#}";
                    $(this).removeClass("glyphicon glyphicon-minus");
                    $(this).addClass("glyphicon glyphicon-plus");
                    oTable.fnClose( nTr );
                }
                else
                {

                    $(this).removeClass("glyphicon glyphicon-plus");
                    $(this).addClass("glyphicon glyphicon-minus");


                    var details = oTable.fnGetData( nTr )[1];
                    var id = details;

                    oTable.fnOpen( nTr, 'Cargando...' , 'details'+details);

                    $('.details' + details).addClass('details');
                    $('.details'+ details).children("td").load("{{  path('persona_carteracreditounico',{'id':''})}}" + '/' + id);
//                    $('.details'+ details).children("td").html("a");
                }

            });


        });


        $(document).ready(function () {
//            $(document).on("click","#aportes",function(){
//            });
            if( "{{ forma}}" =='::fronted6.html.twig')
            {
                $("#Personas").addClass("active");
                $("#Socios").addClass("active");
            }
            else
            {
                $("#Gestionarcréditos").addClass("active");
                $("#Créditos").addClass("active");
            }
        });



    </script>
    <style>
        .tabla_center_align {
            text-align: center !important;
        }
        .tabla_right_align {
            text-align: right !important;
        }
        .tabla_left_align {
            text-align: left !important;
        }
    </style>
    <div class="oe_view_manager oe_view_manager_current" data-view-type="list">
        <div class="oe_view_manager_header">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
            <table class="oe_view_manager_header">
                <tbody><tr class="oe_header_row oe_header_row_top">
                    <td colspan="2">
                        {% if forma =='::fronted6.html.twig' %}
                        <h2 class="oe_view_title">
                            <span class="oe_view_title_text oe_breadcrumb_title"><a data-id="breadcrumb_3" class="oe_breadcrumb_item" href="{{ path('persona_update',{'id':persona.id}) }}">Editar Persona</a>
                                <span class="oe_fade">/</span>
                                <span class="oe_breadcrumb_item">Cartera Créditos de {{ persona }}</span>
                            </span>
                        </h2>
                        {% else %}
                        <h2 class="oe_view_title">
                            <span class="oe_view_title_text oe_breadcrumb_title"><a data-id="breadcrumb_3" class="oe_breadcrumb_item" href="{{ path('creditos') }}">
                                    Listado de Créditos </a>
                                <span class="oe_fade">/</span>
                                <span class="oe_breadcrumb_item">Cartera Créditos de {{ persona }}</span>
                            </span>
                        </h2>
                        {% endif %}
                    </td>

                </tr>

                </tbody>
            </table>

        </div>
        <div class="tabla_center_align" >
            <div class="oe_form_sheetbg">
                <div class="oe_form_sheet oe_form_sheet_width" style="max-width:80% !important;">
        <div class="tabla_center_align" style="margin: 10px">
            <label style="font-size: 18px;">REPORTE DE CARTERA DE CRÉDITOS</label>
            <br>
            <label style="font-size: 18px;">{{ fecha }}</label>
            {#<br>#}
            {#<label style="font-size: 16px;">{{ persona }}</label>#}
        </div>
        <table id="example" class="table table-striped" cellspacing="0" width="100%" style="margin-top: -1px;">
            <thead>
            <tr>
                <th>Acciones</th>
                <th class="tabla_center_align">ID</th>
                <th class="tabla_center_align">ID CRÉDITO</th>
                <th class="tabla_center_align">VALOR</th>
                <th class="tabla_center_align">FECHA INICIO</th>
                <th class="tabla_center_align">FECHA FIN</th>
                <th class="tabla_center_align">ESTADO</th>

            </tr>
            </thead>
            <tbody style="border-bottom: 1px solid #ddd">
            {% for creditoMoroso in creditosMorosos %}
                <tr>
                    <td class="tabla_center_align">
                       <a class="detalle details glyphicon glyphicon-plus details" href="#" title="Detalles Crédito" style="margin-right: 3px;color: #000000" data-toggle="tooltip" data-placement="top"></a>
                    </td>
                    <td>{{creditoMoroso["credito"].id}}</td>
                    <td class="tabla_center_align">{{creditoMoroso["credito"].id}}</td>
                    <td class="tabla_right_align">&nbsp;$&nbsp;{{(creditoMoroso["credito"].montoSolicitado)| number_format(2, '.' , ',' )}}&nbsp;&nbsp;&nbsp;</td>
                    <td class="tabla_center_align">{{creditoMoroso["fechainicio"]}}</td>
                    <td class="tabla_center_align">{{creditoMoroso["fechafin"]}}</td>
                    <td class="tabla_center_align">{{creditoMoroso["credito"].estadocreditos}}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
</div>
</div>
</div>
    </div>
{% endblock %}
    
