{% extends '::fronted3.html.twig' %}
{% block title %}Asociar Documento{% endblock %}
{% block encabezado %}Asociar Documento{% endblock %}

{% block contenedor %}
  <script>
       

       $(document).ready(function() {
           $("#Gestionarcréditos").addClass("active");
           $("#Créditos").addClass("active");

           if("{{ credito.estadocreditos }}"== 'INGRESADO'){
               $("#Guardar").attr('disabled',true);
               $("#modulos_personasbundle_creditosdocumento_nombre").attr("readonly",true);
               $("#modulos_personasbundle_creditosdocumento_documento").attr("disabled",true);
           }
        });



       function revision(id,name)
       {
           if(name=="INGRESADO"){
               $("#Guardar").attr('disabled',true);
               $('.revision').attr('href',"{{ path('creditos_enrevision',{'id':''})}}" + '/' + id);
               window.location = $('.revision').attr('href');

           }else
               $("#Guardar").attr('disabled',false);

       }

    </script>
    <style>
        .tabla_center_align {
            text-align: center !important;
        }

        .tabla_right_align {
            text-align: right !important;
        }

        .tabla_left_align {
            text-align: left !important;
        }
    </style>

    <div>
    <div class="oe_view_manager oe_view_manager_current" data-view-type="form">
    <table class="oe_view_manager_header">
        <tbody><tr class="oe_header_row oe_header_row_top">
            <td colspan="2">
                <h2 class="oe_view_title">
                    <span class="oe_view_title_text oe_breadcrumb_title">
                        <a data-id="breadcrumb_3" class="oe_breadcrumb_item" href="{{ path('creditos')}}">Listado de Créditos</a>
                        <span class="oe_fade">/</span>
                        <span class="oe_breadcrumb_item">Asociar Documento</span>
                    </span>
                </h2>
            </td>

        </tr>
   <form action="{{ path('asociarDocumentoCredito',{'id':id}) }}" class="" method="post" {{ form_enctype(form) }}>
        <tr class="oe_header_row">
            <td>
                <div class="oe_view_manager_buttons">
                    <div class="oe_form_buttons">
                                    <span class="oe_form_buttons_edit" style="display: inline;">
                                        <button id="Guardar" type="submit" class="oe_button oe_form_button_save oe_highlight" accesskey="S">Guardar</button>

                                        <a  href="{{ path('creditos') }}" class="oe_button oe_form_button_cancel" accesskey="D">Cancelar</a> </br> </br>

                                    </span>
                    </div>
                </div>
                <div class="oe_view_manager_buttons">
                    <div class="oe_form_buttons">
                                    {% if  credito.estadocreditos == "INGRESADO" %}
                                         <span class="oe_form_buttons_edit" style="display: inline;">
                                            <label>Ingresar el crédito al estado "En Revisión" para adjuntar documentos:</label></br>
                                            <a id="{{ credito.id  }}" name="{{ credito.estadocreditos }}" onclick="revision(id,name)" class="revision oe_button" >En Revisión</a>
                                         </span>
                                    {% endif %}

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="oe_view_manager_wrapper">
    <div>

    <div class="oe_view_manager_view_form" style="display: block;">
    <div class="oe_formview oe_view oe_form_editable" style="opacity: 1;">

    <div class="oe_form_container">
    <div class="oe_form">
    <div class="">
    <header>
        <ul class="oe_form_field_status oe_form_status" data-original-title="" title="">

            <li data-id="draft" class="oe_active">
                <span class="label">&nbsp;</span>
                <span class="arrow"><span></span></span>
            </li>

            <li data-id="open" class="">
                <span class="label">&nbsp;</span>
                <span class="arrow"><span></span></span>
            </li>

            <li data-id="paid" class="">
                <span class="label">&nbsp;</span>
                <span class="arrow"><span></span></span>
            </li>


        </ul>
        <div class="oe_clear"></div>
    </header>

    <div class="oe_form_sheetbg">
    <div class="oe_form_sheet oe_form_sheet_width">
    <h1>
        <label class="oe_form_label oe_align_right"> Documentos asociados al credito: {{ credito.id}}</label>
    </h1>

    <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
    <tbody>
    <tr class="oe_form_group_row">
    <td width="100%" class="oe_form_group_cell" colspan="1">
    <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
    <tbody>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <tr class="oe_form_group_row">
            <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                    Nombre de Documento
                </label>
            </td>

            <td id="EnRevisionHab" width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div >
                                                                                      {{ form_widget(form.nombre,{'attr':{'title':'Introduzca el nombre del documento'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
            </td>
        </tr>

        <tr  class="oe_form_group_row">
            <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                    Documento
                </label>
            </td>

            <td id="EnRevisionHab" width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div >
                                                                                   {{ form_widget(form.documento,{'attr':{'class':'file-3','title':'Seleccione el documento'} }) }}
                                                                                    
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
            </td>
        </tr>


        {{ form_rest(form)}}
     {{ form_end(form) }}
    </form>
    </tbody>
    </table>
        <hr style="width: 96%;padding: 1px;border-color: #7C7BAD">
    <table class="table" >
        <thead >
        <th class="tabla_center_align" width="15%">Acciones</th>
        <th class="tabla_center_align" width="40%">Nombre</th>
        <th class="tabla_center_align" width="50%">Documento</th>
        </thead>
        <tbody>
         {% for documento in documentos %}
             <tr>
                 <td class="tabla_center_align" width="15%">
                    <a style="margin-left: 15px;color: #000000" title="Editar" href="{{ path('editarasociarDocumentoCredito',{'id':documento.id,'idCredito':id}) }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a style="margin-left: 5px;color: #000000" title="Eliminar" href="{{ path('eliminarasociarDocumentoCredito',{'id':documento.id,'idCredito':id}) }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                 </td>
                 <td class="tabla_center_align" width="40%">{{ documento.nombre }}</td>
                 <td class="tabla_center_align" width="50%"><a href="{{ asset('bundles/PE/documentos/' ~ documento.rutaDocumento ) }}">{{documento.rutaDocumento}}</a></td>

             </tr>
         {% endfor %}
        </tbody>
    </table>

    </td>

    <td width="50%" class="oe_form_group_cell oe_group_right" colspan="1">
        <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
            <tbody>



            </tbody>
        </table>
    </td>

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div></div>

    <div class="oe_view_manager_view_calendar" style="display: none;"></div>

    <div class="oe_view_manager_view_graph" style="display: none;"></div>

    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-6" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-7" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-8" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-9" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-10" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-11" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-12" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-13" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-14" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-15" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-16" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-17" tabindex="0" style="z-index: 1; display: none;"></ul></div>
    </div>
    </div>
    </div></div>


{% endblock %}
