{% extends '::fronted1.html.twig' %}
{% block title %}Listado de los Métodos de Amortización de Ahorro{% endblock %}
{% block encabezado %}Listado de los Métodos de Amortización de Ahorro{% endblock %}

{% block contenedor %}

    <script>
        $(document).ready(function() {
            $('#example').dataTable({
                "oLanguage": {
                    'sProcessing': '',
                    'sLengthMenu': 'Mostrando _MENU_ registros',
                    'sZeroRecords': 'La tabla está vacía',
                    'sSearch': '',
                    'sInfo': '_START_ hasta _END_ de _TOTAL_ registros',
                    'sInfoEmpty': '0 hasta 0 de 0 registros',
                    'sInfoFiltered': '(Filtrado de _MAX_ total)',
                    "oPaginate": {
                        "sFirst":    "Primera",
                        "sPrevious": "Anterior",
                        "sNext":     "Siguiente",
                        "sLast":     "Última"
                    }

                },
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [1] },{"sWidth": "10%","aTargets": [0]},{ "bSortable": false, "aTargets": [ 0 ] }
                ],
                "aaSorting": [[2, 'asc']]

            });
            $("#example_length").hide();
            $("#example_filter").prop("style",'margin-top:-18%;width:30%;margin-left:23%;');

            $("#example_filter input").prop("style",'width:254%;border-radius:20px;height:26px;margin-top:65px');

            $("#example_info").prop("style",'padding-left: 8px');

            $("#example_paginate").prop("style",'padding-right: 8px');


            $('[data-toggle="tooltip"]').tooltip()


        });

        $(document).ready(function() {
            $("#Configurar").addClass("active");
            $("#MetodoAmortizacioAhorro").addClass("active");
        });

    </script>

    <div class="oe_view_manager oe_view_manager_current"   data-view-type="list">
        <div class="oe_view_manager_header">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
            <table class="oe_view_manager_header">
                <colgroup><col width="20%">
                    <col width="35%">
                    <col width="15%">
                    <col width="30%">
                </colgroup>
                <tbody><tr class="oe_header_row oe_header_row_top">
                    <td colspan="2">


                        <h2 class="oe_view_title">
                            <span class="oe_view_title_text oe_breadcrumb_title"><span class="oe_breadcrumb_item">Listado de los Métodos de Amortización de Ahorro</span></span>
                        </h2>
                    </td>
                    <td colspan="2">


                    </td>
                </tr>
                </tbody></table>



        </div>
        <table id="example" class="table table-striped" cellspacing="0" width="100%" style="margin-top: -1px;">
            <thead>
            <tr>
                <th>Acciones</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Activo</th>
            </tr>
            </thead>
            <tbody style="border-bottom: 1px solid #ddd">
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('metodoamortizacionahorro_update',{'id':entity.id}) }}" title="Editar" style="margin-right: 3px;color: #000000" data-toggle="tooltip" data-placement="top">
                            <img style="height: 18px;width: 18px;" src="{{ asset('bundles/PE/images/editar.png') }}" class="img-polaroid"/>
                        </a>
                    </td>
                    <td>{{entity.id}}</td>
                    <td>{{entity.nombreMetodo}}</td>
                    <td>{{entity.descripcion}}</td>
                    <td>{{entity.activo ? "Si":"No"}}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>


{% endblock %}
