{% extends '::fronted.html.twig' %}
{% block title %}Listado de reglas de ahorro{% endblock %}
{% block encabezado %}Listado de reglas de ahorro{% endblock %}

{% block contenedor %}

    <form action="{{ path('reglaahorro_update',{'id':entity.id}) }}" class="" method="post" {{ form_enctype(edit_form) }}>
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        <div>
            <div class="oe_view_manager oe_view_manager_current" data-view-type="form">
                <table class="oe_view_manager_header">
                    <tbody><tr class="oe_header_row oe_header_row_top">
                        <td colspan="2">
                            <h2 class="oe_view_title">
                                <span class="oe_view_title_text oe_breadcrumb_title"><a data-id="breadcrumb_3" class="oe_breadcrumb_item" href="{{ path('reglaahorro')}}">Datos de las reglas de ahorro</a> <span class="oe_fade">/</span> <span class="oe_breadcrumb_item">Modificar</span></span>
                            </h2>
                        </td>

                    </tr>

                    <tr class="oe_header_row">
                        <td>
                            <div class="oe_view_manager_buttons">
                                <div class="oe_form_buttons">
                                    <span class="oe_form_buttons_edit" style="display: inline;">
                                         <button type="submit" class="oe_button oe_form_button_save oe_highlight" accesskey="S">Guardar</button>
                                          <span class="oe_fade">o</span>
                                            <a  href="{{ path('reglaahorro') }}" class="oe_bold oe_form_button_cancel" accesskey="D">Descartar</a>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="oe_view_manager_wrapper">
                    <div>

                        <div class="oe_view_manager_view_form" style="display: block;">
                            <div class="oe_formview oe_view oe_form_editable" style="opacity: 1;">

                                <div class="oe_form_container">
                                    <div class="oe_form">
                                        <div class="">
                                            <header>
                                                <ul class="oe_form_field_status oe_form_status" data-original-title="" title="">

                                                    <li data-id="draft" class="oe_active">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>

                                                    <li data-id="open" class="">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>

                                                    <li data-id="paid" class="">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>


                                                </ul>
                                                <div class="oe_clear"></div>
                                            </header>

                                            <div class="oe_form_sheetbg">
                                                <div class="oe_form_sheet oe_form_sheet_width">
                                                    <h1>
                                                        <label class="oe_form_label oe_align_right"> Datos de los ahorros </label>
                                                    </h1>

                                                    <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
                                                        <tbody>
                                                        <tr class="oe_form_group_row">
                                                            <td width="50%" class="oe_form_group_cell" colspan="1">
                                                                <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
                                                                    <tbody>
                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Variable 1
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.variableRegla) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Operador 1
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.operador) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Valor
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.valor) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="50%" class="oe_form_group_cell oe_group_right" colspan="1">
                                                                <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
                                                                    <tbody>
                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label_help oe_align_right" for="oe-field-input-9" data-original-title="" title="">
                                                                                Operador 2
                                                                            </label>
                                                                        </td>
                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                              <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.operador1) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-11">
                                                                                Variable 2
                                                                            </label>
                                                                        </td>
                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                              <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.variableRegla1) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Descripción
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.descripcion) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div>

                        <div class="oe_view_manager_view_calendar" style="display: none;"></div>

                        <div class="oe_view_manager_view_graph" style="display: none;"></div>

                        <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-6" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-7" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-8" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-9" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-10" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-11" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-12" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-13" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-14" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-15" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-16" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-17" tabindex="0" style="z-index: 1; display: none;"></ul></div>
                </div>
            </div>
        </div></div>
        {#{{ form_rest(edit_form)}}
        {{ form_end(edit_form) }}#}
        {{ form_row(edit_form._token) }}
    </form>


{% endblock %}


    {% block leftpanel %}

        <div groups="base.group_user,base.group_portal,share.group_shared">

            <a href="/web" class="oe_logo">
                <span class="oe_logo_edit oe_logo_edit_admin">Editar datos de la compañía</span>
                <img src="{{ asset('bundles/PE/images/logo-quitodm.png')    }}">
            </a>
            <div>
                <div>
                    <div class="oe_secondary_menus_container">

                        <div data-menu-parent="99" class="oe_secondary_menu" style="">

                            <div class="oe_secondary_menu_section">
                                Ahorros
                            </div>

                            <ul class="oe_secondary_submenu nav nav-pills nav-stacked">

                                <li >
                                    <a data-action-id="94" data-action-model="ir.actions.client" data-menu="102" class="oe_menu_leaf" href="{{ path('ahorro') }}">
                <span class="oe_menu_text">
                    Gestionar ahorros
                </span>

                                        <div id="menu_counter" class="badge pull-right">

                                            1
                                        </div>
                                    </a>




                                </li>
                                 <div class="oe_secondary_menu_section">
                                Cofiguración
                            </div>

                                <li class="active">
                                    <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105" class="oe_menu_leaf" href="{{ path('reglaahorro') }}">
                         <span class="oe_menu_text">
                            Reglas
                         </span>
                                    </a>
                                </li>


                            </ul>



                        </div>







                    </div>
                </div>
            </div>
            <div class="oe_footer">
                Desarrollado por:<br> <a target="_blank" href="http://www.leadsolutions.ec/"><span>LeadSolutions Cía. Ltda.</span></a>
            </div>

        </div>

    {% endblock %}
