{% extends '::fronted.html.twig' %}

{% block title %}Con Quito{% endblock %}            
                 
                               
{% block leftpanel %}

    <div groups="base.group_user,base.group_portal,share.group_shared">

        <a href="#" class="oe_logo">
            {#<span class="oe_logo_edit oe_logo_edit_admin">Editar datos de la compañía</span>#}
            <img src="{{ asset('bundles/PE/images/logo-quitodm.png')    }}">
        </a>

        <div>
            <div>
                <div class="oe_secondary_menus_container">

                    <div data-menu-parent="99" class="oe_secondary_menu" style="">

                       <!--  <div class="oe_secondary_menu_section">
                            Créditos
                        </div> -->

                        <ul class="oe_secondary_submenu nav nav-pills nav-stacked">

                            <li id="Gestionarcréditos">  
                                <a data-action-id="94" data-action-model="ir.actions.client" data-menu="102"
                                   class="oe_menu_leaf" href="{{ path('creditos') }}">
                <span class="oe_menu_text">
                    Listado de Créditos
                </span>
                                   
                                </a>

                            </li>

                            <li id="carterageneral">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('libro_cartera') }}">
                                <span class="oe_menu_text">
                                
                                    Cartera general
                                </span>
                                
                                </a>
                            </li>
                            
                            <!--<li id="verpagare">
                                <a data-action-id="96" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('pagare') }}">
                                <span class="oe_menu_text">
                                
                                    Pagaré
                                </span>
                                
                                </a>
                            </li>-->

                            <li id="versimulacionCredito">
                                <a data-action-id="96" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('simulacionCredito') }}">
                                <span class="oe_menu_text">

                                    Simulación de Créditos
                                </span>

                                </a>
                            </li>
                            <!--  <div class="oe_secondary_menu_section">
                            Configuración
                        </div>



                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('productodecreditos') }}">
                         <span class="oe_menu_text">
                            Tipo de crédito
                         </span>
                                </a>
                            </li>


                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('reglasdecreditos') }}">
                         <span class="oe_menu_text">
                            Reglas
                         </span>
                                </a>
                            </li>


                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('tipodeparcialidad') }}">
                         <span class="oe_menu_text">
                            Parcialidad 
                         </span>
                                </a>
                            </li>

                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('tipodecobro') }}">
                         <span class="oe_menu_text">
                            Medios pago 
                         </span>
                                </a>
                            </li>

                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('frecuenciadepagos') }}">
                         <span class="oe_menu_text">
                            Frecuencia Pago

                         </span>
                                </a>
                            </li>

                            <li>
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('destinofinanciamiento') }}">
                         <span class="oe_menu_text">
                            Destino crédito 
                         </span>
                                </a>
                            </li>
 -->

                        </ul>


                    </div>

                </div>
            </div>
        </div>
        <div class="oe_footer">
            Desarrollado por:<br><a target="_blank" href="http://www.leadsolutions.ec/"><span>LeadSolutions Cía. Ltda.</span></a>
        </div>

    </div>

{% endblock %}

