{% extends '::fronted.html.twig' %}

{% block title %}Con Quito{% endblock %}            
                 
      
                                
                                
    {% block leftpanel %}
            
        <div groups="base.group_user,base.group_portal,share.group_shared">

            <a href="#" class="oe_logo">
                {#<span class="oe_logo_edit oe_logo_edit_admin">Editar datos de la compañía</span>#}
                <img src="{{ asset('bundles/PE/images/logo-quitodm.png')    }}">
            </a>
            <div>
                <div>
                    <div class="oe_secondary_menus_container">
                        
                            <div data-menu-parent="99" class="oe_secondary_menu" style="">
                                
                                    <div class="oe_secondary_menu_section">
                                        Contabilidad
                                    </div>
                                    
            <ul class="oe_secondary_submenu nav nav-pills nav-stacked">
            
            
                            <li id="PyGperíodico">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('libro_pyg') }}">
                                <span class="oe_menu_text">
                                    Perdidas y Ganancias
                                </span>
                                </a>
                            </li>

                            <li id="Utilidad">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105" class="oe_menu_leaf" href="{{ path('utilidad') }}">
                                     <span class="oe_menu_text">
                                        Utilidades PyG  
                                     </span>
                                </a>
                            </li>

                            <li id="BalanceGeneral">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('libro_balancegeneral') }}">
                                <span class="oe_menu_text">
                                    Balance General
                                </span>
                                </a>
                            </li>
                
                            {#<li id="estadosfinancieros">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('estadosfinancieros') }}">
                                <span class="oe_menu_text">
                                
                                    Estados Financieros
                                </span>
                                
                                </a>
                            </li>#}

                            <li id="TransaccionesR">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('resumenTransacciones',{'mes':01,'ano':2016}) }}">
                                            <span class="oe_menu_text">

                                                Resumen de Transacciones
                                            </span>

                                </a>
                            </li>


                            <li id="verresaportesocios">
                                <a data-action-id="94" data-action-model="ir.actions.client" data-menu="102" class="oe_menu_leaf" href="{{ path('resumenAportes',{'mes':01,'ano':2016}) }}">
                                            <span class="oe_menu_text">
                                                Resumen Aportes de Socios
                                            </span>
                                </a>
                            </li>


                            <li id="verexcedentes">
                                <a data-action-id="94" data-action-model="ir.actions.client" data-menu="102" class="oe_menu_leaf" href="{{ path('excedentes',{'mes':01,'ano':2016}) }}">
                                            <span class="oe_menu_text">
                                                Excedentes
                                            </span>
                                </a>
                            </li>


                            <!-- <li id="carterageneral">
                                <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105"
                                   class="oe_menu_leaf" href="{{ path('libro_cartera') }}">
                                <span class="oe_menu_text">
                                
                                    Cartera general
                                </span>
                                
                                </a>
                            </li> -->  
                <br>
                {% if is_granted('ROLE_ADMIN') %}
                 <div class="oe_secondary_menu_section">
                                Configuración
                            </div>

                <li id="PlandeCuentas">
                     <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105" class="oe_menu_leaf" href="{{ path('cuenta') }}">
                         <span class="oe_menu_text">
                            Plan de Cuentas
                         </span>
                     </a>
                </li>
                {% endif %}



                <!-- <li >
                     <a data-action-id="97" data-action-model="ir.actions.client" data-menu="105" class="oe_menu_leaf" href="{{ path('tipodecuenta') }}">
                         <span class="oe_menu_text">
                            Tipos de cuentas
                         </span>
                     </a>
                </li>    -->
                                
            </ul>

            </div>
      
       
                       
    
                        
         
      
                    </div>
                </div>
            </div>
            <div class="oe_footer">
                Desarrollado por:<br><a target="_blank" href="http://www.leadsolutions.ec/"><span>LeadSolutions Cía. Ltda.</span></a>
            </div>
        
                                </div>
            
{% endblock %}  
            
            