{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ahorro</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Aporte_minimo</th>
                <td>{{ entity.aporteminimo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Aporte_adicional</th>
                <td>{{ entity.aporteadicional }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ahorro') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ahorro_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
