{% extends '::fronted4.html.twig' %}
{% block title %}Modificar Ahorro{% endblock %}
{% block encabezado %}Modificar Ahorro{% endblock %}

{% block contenedor %}
    <script>
        $(function(){
            $('.datetimepicker1').datetimepicker({
                //viewMode: 'years',

                //format: 'DD/MM/YYYY HH:mm',
                locale: 'es'
            });
            $("#modulos_personasbundle_ahorro_id").attr("readonly",true);
            $("#GestionarAhorros").addClass("active");
            $("#Ahorros").addClass("active");

            var montominimo = 0;
            var montomaximo = 0;
            var valor = "{{ entity.tipoAhorro==null?"AHORRO INDIVIDUAL":entity.tipoAhorro.nombre }}";
            {% set flag = true  %}
            {% for tiposahorro in tiposahorros %}
                {% if  entity.tipoAhorro==null and flag %}
                    valor = "{{  tiposahorro.nombre }}";
                    {% set flag = false  %}
                 {% endif %}
            var objValor = "{{ tiposahorro.nombre }}";
            if(valor == objValor){
                {#$("#modulos_personasbundle_ahorro_cuotas").val("{{ tiposahorro.plazo  }}");#}
                $("#modulos_personasbundle_ahorro_tasaInteres").val("{{ tiposahorro.tasaInteres  }}");
//                $("#modulos_personasbundle_ahorro_cuotas").attr("readonly",true);
                $("#modulos_personasbundle_ahorro_tasaInteres").attr("readonly",true);
                montominimo = "{{ tiposahorro.montominimo }}";
                montomaximo = "{{ tiposahorro.montomaximo }}";

            }
            {% endfor %}

            $("#modulos_personasbundle_ahorro_tipoAhorro").change(function(){
                var valorahorroTipo= $("#modulos_personasbundle_ahorro_tipoAhorro").val();
                {% for tiposahorro in tiposahorros %}
                var valor = "AHORRO INDIVIDUAL";
                var objValor = "{{ tiposahorro.id }}";
                if(valorahorroTipo == objValor){
                    {#$("#modulos_personasbundle_ahorro_cuotas").val("{{ tiposahorro.plazo  }}");#}
                    $("#modulos_personasbundle_ahorro_tasaInteres").val("{{ tiposahorro.tasaInteres  }}");
//                    $("#modulos_personasbundle_ahorro_cuotas").attr("readonly",true);
                    $("#modulos_personasbundle_ahorro_tasaInteres").attr("readonly",true);
                    montominimo = "{{ tiposahorro.montominimo }}";
                    montomaximo = "{{ tiposahorro.montomaximo }}";

                    var valor = $("#modulos_personasbundle_ahorro_valorAhorrar").val();

//                    var cuotas = $("#modulos_personasbundle_ahorro_cuotas").val();
                    var tasa = $("#modulos_personasbundle_ahorro_tasaInteres").val();
                    if((parseInt(valor)>=parseInt(montominimo)) && (parseInt(valor)<=parseInt(montomaximo))){

                        $("#Guardar").attr('disabled',false);
                    }
                    else{
                        $("#Guardar").attr('disabled',true);
                    }


                }
                {% endfor %}



            });

            $("#Guardar").attr('disabled',true);

            $("#modulos_personasbundle_ahorro_valorAhorrar").on('keyup', function(){
                var valor = $(this).val();

//                var cuotas = $("#modulos_personasbundle_ahorro_cuotas").val();
                var tasa = $("#modulos_personasbundle_ahorro_tasaInteres").val();
                if((parseInt(valor)>=parseInt(montominimo)) && (parseInt(valor)<=parseInt(montomaximo))){

                    $("#Guardar").attr('disabled',false);
                    $("#valorsolicitado").hide();
                }
                else{
                    $("#Guardar").attr('disabled',true);
                    $("#valorsolicitado").html('<span id="" class="label label-warning">El valor solicitado debe ser mayor que '+montominimo+' y menor que '+montomaximo+'</span>')
                    $("#valorsolicitado").show();
                }


            });
//             alert(montominimo + " " + montomaximo + " " + valor);
            var valor = $("#modulos_personasbundle_ahorro_valorAhorrar").val();
            if((parseInt(valor)>=parseInt(montominimo)) && (parseInt(valor)<=parseInt(montomaximo))){

                $("#Guardar").attr('disabled',false);
            }
            else{
                $("#Guardar").attr('disabled',true);
            }



        });


    </script>

    <style>
        .tabla_center_align{
            text-align: center !important;
        }
        .tabla_right_align{
            text-align: right !important;
        }
        .tabla_left_align{
            text-align: left !important;
        }
    </style>

    <form action="{{ path('ahorro_update',{'id':entity.id}) }}" class="" method="post" {{ form_enctype(edit_form) }}>
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        <div>
            <div class="oe_view_manager oe_view_manager_current" data-view-type="form">
                <table class="oe_view_manager_header">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                            <strong>{{ flashMessage }}</strong>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <strong>{{ flashMessage }}</strong>
                        </div>
                    {% endfor %}
                    <tbody><tr class="oe_header_row oe_header_row_top">
                        <td colspan="2">
                            <h2 class="oe_view_title">
                                <span class="oe_view_title_text oe_breadcrumb_title"><a data-id="breadcrumb_3" class="oe_breadcrumb_item" href="{{ path('ahorro')}}">Listado de los ahorros</a> <span class="oe_fade">/</span> <span class="oe_breadcrumb_item">Modificar</span></span>
                            </h2>
                        </td>

                    </tr>

                    <tr class="oe_header_row">
                        <td>
                            <div class="oe_view_manager_buttons">
                                <div class="oe_form_buttons">
                                    <span class="oe_form_buttons_edit" style="display: inline;">
                                         <button id="Guardar" type="submit" class="oe_button oe_form_button_save oe_highlight" accesskey="S">Guardar</button>
                                          
                                            <a  href="{{ path('ahorro') }}" class="oe_button oe_form_button_cancel" accesskey="C">Cancelar</a>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="oe_view_manager_wrapper">
                    <div>

                        <div class="oe_view_manager_view_form" style="display: block;">
                            <div class="oe_formview oe_view oe_form_editable" style="opacity: 1;">

                                <div class="oe_form_container">
                                    <div class="oe_form">
                                        <div class="">
                                            <header>
                                                <ul class="oe_form_field_status oe_form_status" data-original-title="" title="">

                                                    <li data-id="draft" class="oe_active">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>

                                                    <li data-id="open" class="">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>

                                                    <li data-id="paid" class="">
                                                        <span class="label">&nbsp;</span>
                                                        <span class="arrow"><span></span></span>
                                                    </li>


                                                </ul>
                                                <div class="oe_clear"></div>
                                            </header>

                                            <div class="oe_form_sheetbg">
                                                <div class="oe_form_sheet oe_form_sheet_width">
                                                    <h1>
                                                        <label class="oe_form_label oe_align_right"> Datos del Ahorro </label>
                                                    </h1>

                                                    <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
                                                        <tbody>
                                                        <tr class="oe_form_group_row">
                                                            <td width="100%" class="oe_form_group_cell" colspan="1">
                                                                <table cellspacing="0" cellpadding="0" border="0" class="oe_form_group ">
                                                                    <tbody>
                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Persona
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.persona,{'attr':{'title':'Seleccione la persona'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Número
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{  form_widget(edit_form.id,{'attr':{'title':'Número asignado al ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Tipo Ahorro
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.tipoAhorro,{'attr':{'title':'Seleccione el tipo de ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Valor Ahorrar
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.valorAhorrar,{'attr':{'title':'Introduzca el valor total a ahorrar, debe ser menor al monto máximo y mayor que el monto mínimo del tipo de ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                      <span id="valorsolicitado"> </span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Cuotas
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.cuotas,{'attr':{'title':'Cuota asignada del tipo de ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Tasa de interes
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.tasaInteres,{'attr':{'title':'Tasa de interes asignada del tipo de ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Frecuencia de pago
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div>
                                                                                      {{ form_widget(edit_form.frecuenciadepago,{'attr':{'title':'Seleccione la frecuencia de depósitos'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Fecha  de Solicitud
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div class="input-group">
                                                                                      {{ form_widget(edit_form.fechaSolicitud,{'attr':{'title':'Seleccione la fecha de solicitud'} }) }}
                                                                                      <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="oe_form_group_row">
                                                                        <td width="1%" class="oe_form_group_cell oe_form_group_cell_label" colspan="1">
                                                                            <label class=" oe_form_label oe_align_right" for="oe-field-input-5">
                                                                                Estado Ahorro
                                                                            </label>
                                                                        </td>

                                                                        <td width="99%" class="oe_form_group_cell" colspan="1">
                                                                             <span class="oe_form_field oe_form_field_many2one oe_form_field_with_button oe_form_required">
                                                                                  <div >
                                                                                      {{ form_widget(edit_form.estadoAhorro,{'attr':{'title':'Seleccione el estado del ahorro'} }) }}
                                                                                      <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                                  </div>
                                                                             </span>
                                                                        </td>
                                                                    </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <hr style="width: 96%;padding: 1px;border-color: #7C7BAD">

                                                    <div>
                                                        <div class="oe_view_manager oe_view_manager_current" data-view-type="form">


                                                            <div class="oe_view_manager_wrapper">
                                                                <div>
                                                                    <h1>
                                                                        <label class="oe_form_label oe_align_right"> Datos
                                                                            del Ahorro de {{ entity.persona is null ? "" : (entity.persona.nombre is null ? " " : entity.persona.nombre) }}&nbsp;{{ entity.persona is null ? "" : (entity.persona.primerApellido is null ? " " : entity.persona.primerApellido) }}&nbsp;{{ entity.persona is null ? "" : (entity.persona.segundoApellido is null ? " " : entity.persona.segundoApellido)}}&nbsp;</label>
                                                                    </h1>
                                                                    <br>
                                                                    <table >
                                                                        <thead>
                                                                        <th width="20%" class="tabla_right_align"></th>
                                                                        <th width="20%" class="tabla_left_align"></th>
                                                                        <th width="25%" class="tabla_right_align"></th>
                                                                        <th width="10%" class="tabla_left_align"></th>
                                                                        <th width="20%" class="tabla_right_align"></th>
                                                                        <th width="20%" class="tabla_left_align"></th>

                                                                        </thead>
                                                                        <tbody>
                                                                        <tr class="oe_header_row oe_header_row_top">
                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3 >
                                                                                    Valor Ahorrar:
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3 >
                                                                                    $ {{ (entity.valorAhorrar)| number_format(2, '.' , ',' ) }}
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3 >
                                                                                    Cuotas Depositadas:
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3 >
                                                                                    {{pagosrealizados | length}}
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3 >
                                                                                    Último Depósito:
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3 >
                                                                                    {%if pagosrealizados is not empty %}
                                                                                        {% set ultimopago = pagosrealizados | last %}
                                                                                        {{ ultimopago.fechaDePago | date("m/d/Y")}}
                                                                                    {% else %}
                                                                                        {{ "NUNCA" }}
                                                                                    {% endif %}
                                                                                    {#{{ pagosrealizados is not empty ? (pagosrealizados | last) |date("m/d/Y"): "Nunca"}}#}

                                                                                </h3>
                                                                            </td>

                                                                        </tr>
                                                                        <tr class="oe_header_row oe_header_row_top">
                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3>
                                                                                    Cuota a Depositar:
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3>
                                                                                    $ {{ amortizaciones is not empty ? ((amortizaciones[1].capital )| number_format(2, '.' , ',' )) : "No Existente"}}
                                                                                    {#{{ amortizaciones[1].valorcuota | round(2, 'ceil') }}</label>#}
                                                                                </h3>
                                                                            </td>

                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3 >
                                                                                    Cuotas por Pagar:
                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3 >
                                                                                    {{entity.cuotas - (pagosrealizados | length)}}
                                                                                </h3>
                                                                            </td>

                                                                            <td class="tabla_right_align" style="padding-right: 20px">
                                                                                <h3 >

                                                                                </h3>
                                                                            </td>
                                                                            <td class="tabla_left_align">
                                                                                <h3 >

                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>


                                                                    <hr style="width: 96%;padding: 1px;border-color: #7C7BAD">
                                                                    <h2>Tabla de amortización</h2>
                                                                    <table class="table" >
                                                                        <thead>
                                                                        <th width="8%" class="tabla_center_align">Período</th>
                                                                        <th width="15%" class="tabla_center_align">Fecha</th>
                                                                        <th width="15%" class="tabla_center_align">Cuota Depósito</th>
                                                                        <th width="15%" class="tabla_center_align">Interes</th>
                                                                        <th width="15%" class="tabla_center_align">Añadido al Fondo</th>
                                                                        <th width="15%" class="tabla_center_align">Saldo</th>
                                                                        <th width="8%" class="tabla_center_align">Depositado</th>

                                                                        </thead>
                                                                        <tbody>
                                                                        {% set cont=0 %}
                                                                        {% for amortizaciones in amortizaciones %}
                                                                            <tr>
                                                                                <td width=""
                                                                                    class="tabla_center_align"> {{ amortizaciones.cuota }}</td>
                                                                                <td width=""
                                                                                    class="tabla_center_align"> {{ amortizaciones.fechaDePago | date('d/m/Y') }}</td>
                                                                                <td width="" class="tabla_right_align">
                                                                                    $ {{ amortizaciones.capital }}</td>
                                                                                <td width="" class="tabla_right_align">
                                                                                    $ {{ amortizaciones.interes }}</td>
                                                                                <td width="" class="tabla_right_align">
                                                                                    $ {{ amortizaciones.valorcuota    }}</td>
                                                                                <td width="" class="tabla_right_align">
                                                                                    $ {{ amortizaciones.saldo}}</td>
                                                                                <td width="" class="tabla_center_align">
                                                                                    {{ ( (pagosrealizados | length) > cont ? "<label style='color: green; font-weight: bold;'> SI </label>" : "<label style='color: brown; font-weight: bold;'> NO </label>" )}}</td>
                                                                                {% set cont=cont + 1 %}
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>


                                                                    {#<hr style="width: 96%;padding: 1px;border-color: #7C7BAD">#}
                                                                    {#<h2>Tabla de depósitos realizados</h2>#}
                                                                    {#<table border="1">#}
                                                                        {#<thead>#}
                                                                        {#<th width="150px" class="tabla_center_align">Fecha De Pago</th>#}
                                                                        {#<th width="250px" class="tabla_center_align">Valor cuota</th>#}
                                                                        {#</thead>#}
                                                                        {#<tbody>#}
                                                                        {#{% for pagorealizado in pagosrealizados %}#}
                                                                            {#<tr>#}
                                                                                {#<td width=""#}
                                                                                    {#class="tabla_center_align"> {{ pagorealizado.fechaDePago | date('d/m/Y') }}</td>#}
                                                                                {#<td width="" class="tabla_right_align tabla_center_align">#}
                                                                                    {#$ {{ (pagorealizado.valorIngresado   |  round(2, 'ceil'))| number_format(2, '.' , ',' ) }}</td>#}
                                                                            {#</tr>#}
                                                                        {#{% endfor %}#}
                                                                        {#</tbody>#}
                                                                    {#</table>#}
                                                                    <br><br><br><br><br><br><br><br><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div></div>

                                        <div class="oe_view_manager_view_calendar" style="display: none;"></div>

                                        <div class="oe_view_manager_view_graph" style="display: none;"></div>

                                        <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-6" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-7" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-8" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-9" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-10" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-11" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-12" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-13" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-14" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-15" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-16" tabindex="0" style="z-index: 1; display: none;"></ul><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all openerp" id="ui-id-17" tabindex="0" style="z-index: 1; display: none;"></ul></div>
                                </div>
                            </div>
                        </div></div></div></div></div>

                    {{ form_row(edit_form._token) }}
    </form>


{% endblock %}


